@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
	font-family: 'Roboto', sans-serif;
    background-image: url("../res/bg2.png");
    background-blend-mode:hard-light;
    background-position: left;
    background-repeat: repeat-y;
}

h1{
    margin-top: 2%;
    text-align: center;
    color:  #0d57a2;
    text-shadow: 0 0 3px #6bc8fc , 0 0 5px #daffff;
}

table{
    width: 80%;
    margin-left:auto;
    margin-right:auto;
    padding: 2%;
    text-shadow: #000;
}

td{
    color: #0d57a2;;
}

img, iframe{
    box-shadow: 7px 7px #6bc8fc;

    width:400px;
    height:250px;
}



ul {
    margin-right: 2%;
    list-style: none;
    text-align: center;
}
li {
    display: inline-block;
    padding: 20px;
}   

a:hover, a:focus, a:active {
    color: #7295ca;
    text-decoration: none;
}
a {
    color: #0d57a2;
    text-shadow:  0 0 5px #daffff;
    text-decoration: none;
    transition: color 0.1s, background-color 0.1s;
}
a {
    position: relative;
    padding: 16px 0;
    letter-spacing: 1px;
    font-size: 18px;
    line-height: 16px;
    font-weight: 650;
    transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
    
}
a::before {
    content: '';
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #000;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s,transform 0.2s ease-out;
}
a:active::before {
    background-color: #000;
}
a:hover::before, a:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}

#header{
    height: 100px;
    background-image: url("../res/varanasi.png");
    background-size: 15%;
    background-position: 50.75%;
    background-repeat: no-repeat;
    margin-bottom: 2%;
    
    position:static;
}


#places{
    position: relative;
    margin-top: 10px;
    padding-top: 2%;
}


#heading, #suggestion{
    padding: 0.5%;
    text-align: center;
}

#heading{
    margin-top: 5px;
    font-size: larger;
    font-weight: bold;
    text-shadow: 0 0 10px #daffff;
}

#suggestion{
    margin-top: 2%;
    margin-bottom: 2%;
    color:#0d57a2;
}

#mobile{
    display: none;
}

@media (max-width: 370px){

    #pc{
        display: none;
    }

    #mobile{
        display: block;
        width: 100%;
    }

    #header{
        background-size: 40%;
    }

    #places{
        margin-top: 20px;
    }


    ul{
        margin-top: -8%;
    }

    body{
        background-size: 80%;
    }


    ul{
        margin-right: 10%;
    }

    img, iframe{
        height: 250px;
        width: 100%;
    }

}


@media (min-width: 370px) and (max-width: 500px){
    #pc{
        display: none;
    }

    #mobile{
        display: block;
        width: 100%;
    }

    #header{
        background-size: 40%;
    }

    #places{
        margin-top: 20px;
    }


    body{
        background-size: 40% 90% 40%;
        background-position: 20%;
    }


    ul{
        margin-right: 10%;
    }

    img, iframe{
        height: 250px;
        width: 100%;
        margin-left: 0%;
    }
}

@media (min-width: 550px) and (max-width: 920px){

    #pc{
        display: none;
    }

    #mobile{
        display: block;
        width: 100%;
        margin-left: 160px;
    }

    #header{
        background-size: 30%;
    }

    ul{
        margin-right: 5%;
    }
    
    img, iframe{
        width: 60%;
        height: 250px;
    }
}
